.first-step .form-type-password,.first-step #retour-page-login, .first-step #picto_cadenas_login,.first-step #bouton_login, .second-step #picto_user_login, .second-step #text-input-user, .second-step #bouton_next_step{
    display: none;
}

#retour-page-login{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 0.8em;
}

#retour-page-login:hover{
    cursor: pointer;
}

.load-step #text-input-user, .load-step #text-input-pass{
    background-color: #ccc;
    color: #6283C2;
}

.load-step #bouton_next_step, .load-step #bouton_login{
    background-color: #0055A0;
}

.load-step *:hover{
    cursor: wait!important;
}

#messages div.section{
    max-width: 100%;
}